svg{
    color:rgba(255, 255, 255, 0.733);
    background-color: black;
    padding: 5px;
    border-radius: 50%;
    opacity: 0.8;
}
.pause img {
    width: 100px;
    height: 100px;
    margin: auto;
    background: none;
}